// .card {
//   border-radius: $border-radius-base;
//   box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
//   background-color: #ffffff;
//   margin-left: 10px;
//   margin-right: 20px;
//   margin-bottom: 20px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   box-sizing: border-box;
//   word-wrap: break-word;
//   height: auto;
//   flex: 1;
//   position: relative;
//   .image {
//     width: 100%;
//     overflow: hidden;
//     //height: 260px;
//     display: block;
//     border-radius: $border-radius-base $border-radius-base 0 0;
//     position: relative;
//     -webkit-transform-style: preserve-3d;
//     -moz-transform-style: preserve-3d;
//     transform-style: preserve-3d;

//     img {
//       width: 100%;
//     }
//   }
//   .filter {
//     position: absolute;
//     z-index: 2;
//     background-color: rgba(0, 0, 0, 0.68);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     text-align: center;

//     @include opacity(0);

//     .btn {
//       @include vertical-align();
//     }
//   }
//   &:hover .filter {
//     @include opacity(1);
//   }
//   .btn-hover {
//     @include opacity(0);
//   }
//   &:hover .btn-hover {
//     @include opacity(1);
//   }
//   .content {
//     padding: 15px 15px 10px 15px;
//   }
//   .header {
//     height: auto;
//     padding: 15px 15px 0;
//     @media (max-width: 1240px) {
//       font-size: 18px;
//     }
//     font-size: 2em;
//   }
//   .category,
//   label {
//     font-size: $font-size-base;
//     font-weight: $font-weight-normal;
//     color: $dark-gray;
//     margin-bottom: 0px;

//     i {
//       font-size: $font-paragraph;
//     }
//   }

//   label {
//     font-size: $font-size-small;
//     margin-bottom: 5px;
//     text-transform: uppercase;
//   }

//   .title {
//     margin: $none;
//     color: $black-color;
//     font-weight: $font-weight-light;
//     text-align: center;
//   }
//   .avatar {
//     width: 30px;
//     height: 30px;
//     overflow: hidden;
//     border-radius: 50%;
//     margin-right: 5px;
//   }
//   .description {
//     font-size: $font-size-base;
//     color: #333;
//   }
//   .footer {
//     padding: 0;
//     background-color: $transparent-bg;
//     line-height: 30px;

//     .legend {
//       padding: 5px 0;
//     }

//     hr {
//       margin-top: 5px;
//       margin-bottom: 5px;
//     }
//   }
//   .stats {
//     color: #a9a9a9;
//   }
//   .footer div {
//     display: inline-block;
//   }

//   .author {
//     font-size: $font-size-small;
//     font-weight: $font-weight-bold;
//     text-transform: uppercase;
//   }
//   .author i {
//     font-size: $font-size-base;
//   }
//   h6 {
//     font-size: $font-size-small;
//     margin: 0;
//   }
//   &.card-separator:after {
//     height: 100%;
//     right: -15px;
//     top: 0;
//     width: 1px;
//     background-color: $medium-gray;
//     content: "";
//     position: absolute;
//   }

//   .ct-chart {
//     margin: 30px 0 30px;
//     height: 245px;
//   }

//   .table {
//     tbody td:first-child,
//     thead th:first-child {
//       padding-left: 15px;
//     }

//     tbody td:last-child,
//     thead th:last-child {
//       padding-right: 15px;
//     }
//   }

//   .alert {
//     border-radius: $border-radius-base;
//     position: relative;

//     &.alert-with-icon {
//       padding-left: 65px;
//     }
//   }
// }
// .card-user {
//   .image {
//     height: 110px;
//   }
//   .image-plain {
//     height: 0;
//     margin-top: 110px;
//   }
//   .author {
//     text-align: center;
//     text-transform: none;
//     margin-top: -70px;
//   }
//   .avatar {
//     width: 124px;
//     height: 124px;
//     border: 5px solid #ffffff;
//     position: relative;
//     margin-bottom: 15px;

//     &.border-gray {
//       border-color: #eeeeee;
//     }
//   }
//   .title {
//     line-height: 24px;
//   }
//   .content {
//     min-height: 240px;
//   }
// }

// .card-user,
// .card-price {
//   .footer {
//     padding: 5px 15px 10px;
//   }
//   hr {
//     margin: 5px 15px;
//   }
// }
// .card-plain {
//   background-color: transparent;
//   box-shadow: none;
//   border-radius: 0;

//   .image {
//     border-radius: 4px;
//   }
// }

// .card-stats {
//   .icon-big {
//     font-size: 3em;
//     min-height: 64px;
//     i {
//       font-weight: bold;
//       line-height: 59px;
//     }
//   }
//   .numbers {
//     font-size: 2em;
//     text-align: right;
//     p {
//       margin: 0;
//     }
//   }
// }
// .card-grid {
//   margin-top: 30px;
//   margin-left: 0px;
// }
// .card-small {
//   @extend .card;
//   height: 18%;
//   min-height: 100px;
//   // padding-top: 40%;
// }

// .card-small-content {
//   font-size: 2.5vw;
//   margin-top: 5%;
// }

// .card-large {
//   @extend .card;
//   height: 38%;
//   min-height: 350px;
//   padding: 15px;
//   @media screen and (max-width: 1000px) {
//     width: auto;
//     height: fit-content;
//   }
// }
// .card-large-content { 
//   font-size: 4vw;
//   margin-top: 20%;
//   @media screen and (max-width: 1000px) {
//     margin-top: 0%;
//   }
// }
// .card-map {
//   @extend .card-large;
//   height: auto;
//   padding: 0;
//   max-width: auto;
// }
// .card-container {
//   display: flex;
// }s

// .card-shop-secret {
//   border: 1px solid #d5d5d5;
//   min-width: 200px;
//   max-width: 400px;
//   border-radius: 5px;
//   padding: 10px;
//   background: #f5f5f5;
//   color: gray;
//   word-wrap: break-word;
// }

// .param-container {
//   border: 1px solid #d5d5d5;
//   border-radius: 5px;
//   padding: 10px;
//   background: #f5f5f5;
//   color: gray;
//   word-wrap: break-word;
//   margin: 10px
// }
