.header1 {
  font-size: 20px;
}
.header2 {
  font-size: 18px;
  text-align: center;
}
.column {
  font-size: 15px;
  padding-left: 100px;
}
.labelHeader {
  margin-top: 40px;
  text-align: center;
}
.right {
  text-align: right;
}
.information {
  text-align: center;
  color: blue;
  font-size: 20px;
}
