.status-icon-success {
  position: relative;
  color: rgba(0, 128, 0, 0.3);
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  transition: all .2s;
}

.status-icon-success:hover {
  color: green;
}

.status-icon-failed {
  position: relative;
  color: rgba(255, 0, 0, 0.3);
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  transition: all .3s;
}

.status-icon-failed:hover {
  color: red;
}
.step-icons {
  position: relative;
  height: 60px;
  width: 150px;
}
.span-container {
  cursor: pointer;
  margin-right: -6px;
}
.step-icon-success {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 4px;
  height: 25px;
  width: 25px;
  font-size: 1em;
  cursor: pointer;
  padding-left: 2px;
  border: 1px solid green;
  border-radius: 12px;  
  text-align: left;
  align-items: center !important;
  transition: all .3s;
}
.step-icon-success:hover {
  background-color: rgba(155, 218, 162, 0.3);
  cursor: pointer;
  width: 40px;
  transition: all .3s;
}
.step-icon-success:hover + .arrow-icon { opacity: 1 }
.step-icon-failed {
  @extend .step-icon-success;
  padding-left: 2.5px;
  border-color: red;
}
.step-icon-failed:hover {
  @extend .step-icon-success:hover;
  background-color: rgba(218, 155, 155, 0.3);
  align-content: right !important;
}
.step-icon-pending {
  @extend .step-icon-success;
  border-color: rgb(73, 73, 253);
}
.step-icon-pending:hover {
  @extend .step-icon-success:hover;
  background-color: rgba(155, 203, 218, 0.3);
}
.step-icon-waiting {
  @extend .step-icon-success;
  border-color: rgb(207, 207, 207);
}
.step-icon-waiting:hover {
  @extend .step-icon-success:hover;
  background-color: rgba(201, 201, 201, 0.3);
}
.arrow-icon {
  position: relative;
  opacity: 0;
  right: 20px;
  top: 7px;
  transition: all 0.1s;
}
.arrow-icon-blue {
  @extend .arrow-icon;
  color: blue;
}
.arrow-icon-red {
  @extend .arrow-icon;
  color: red;
}
.arrow-icon-green {
  @extend .arrow-icon;
  color: green;
}
.arrow-icon-grey {
  @extend .arrow-icon;
  color: rgb(202, 202, 202);
}