// .LoginPage {
//   background: #98e6ff radial-gradient(circle, #fbf2eb, #352a3b);
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// #login-input.login {
//   position: relative;
//   transform: translateY(0);
//   transition: all .8s;
// }
// #login-input.otp {
//   position: relative;
//   transform: translateY(20px);
//   transition: all .8s;
// }
// #otp-input.otp-open {
//   position: relative;
//   transform: translateY(20px);
//   opacity: 1;
//   transition: all .8s;
// }
// #otp-input.otp-closed {
//   position: relative;
//   opacity: 0;
//   transform: translateY(0);
//   transition: all .8s;
// }
// #password-input.password-open {
//   opacity: 1;
//   transition: all .4s;
// }
// #password-input.password-hide {
//   opacity: 0;
//   transition: all .4s;
// }
// .login-page-note {
//   font-size: 13px;
//   color: limegreen;
//   position: absolute;
//   bottom: 180px;
//   left: 22%;
// }
// .login-page-eye {
//   position: absolute;
//   border: none !important;
//   background: none !important;
//   right: 33px;
//   bottom: 92px;
// }
// .login-page-eye-otp {
//   position: absolute;
//   border: none !important;
//   background: none !important;
//   right: 33px;
// }
// .login-page {
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.4);
// }
// .form {
//   height: 300px;
//   background-color: rgba(0, 0, 0, 0.4);
//   border-radius: 5px;
//   z-index: 1;
//   width: 30em;
//   text-align: center;
//   position: absolute;
//   top: 35%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
// }
// .nav-item {
//   height: 70px;
//   display: inline-block;
//   background-color: transparent;
//   width: 50%;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .nav-link-right {
//   font-family: "Ubuntu Light", sans-serif;
//   border: 2px solid;
//   height: 50px;
//   line-height: 20px;
//   width: 100%;
//   outline: none;
//   cursor: pointer;
//   color: white !important;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 30px;
//   border-top-left-radius: 30px;
//   border-top-color: darkgrey !important;
//   border-right-color: transparent;
//   border-left-color: darkgrey !important;
//   border-bottom-color: darkgrey !important;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .nav-link-left {
//   font-family: "Ubuntu Light", sans-serif;
//   border: 2px solid;
//   height: 50px;
//   line-height: 20px;
//   width: 100%;
//   cursor: pointer;
//   color: white !important;
//   border-bottom-right-radius: 30px;
//   border-bottom-left-radius: 0;
//   border-top-right-radius: 30px;
//   border-top-color: darkgrey !important;
//   border-right-color: darkgrey !important;
//   border-left-color: transparent;
//   border-bottom-color: darkgrey !important;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .nav-link-right:focus,
// .nav-link-right:hover {
//   border-top-color: white !important;
//   border-right-color: transparent !important;
//   border-left-color: white !important;
//   border-bottom-color: white !important;
//   background-color: transparent !important;
// }
// .nav-link-left:focus,
// .nav-link-left:hover {
//   border-top-color: white !important;
//   border-right-color: white !important;
//   border-left-color: transparent !important;
//   border-bottom-color: white !important;
//   background-color: transparent !important;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .header {
//   background: transparent;
//   height: 90px;
//   width: 100%;
//   margin: 0 0 5px;
//   padding-top: 30px;
//   font-family: "Ubuntu Light", sans-serif;
//   color: black;
//   font-size: 30px;
//   text-align: center;
// }
// .header-login {
//   background: transparent;
//   height: 90px;
//   width: 100%;
//   margin: 0 0 30px;
//   padding-top: 30px;
//   font-family: "Ubuntu Light", sans-serif;
//   color: #d3d3d3;
//   font-size: 30px;
//   text-align: center;
// }
// .icon {
//   position: absolute;
//   padding: 8px;
//   color: grey;
//   width: 25px;
//   height: 32px;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .form input {
//   width: 80%;
//   font-weight: bold;
//   text-align: center;
//   height: 30px;
//   font-family: "Roboto", sans-serif;
//   outline: none;
//   border: 1px solid lightgrey;
//   border-left: 5;
//   border-radius: 5px;
//   background: lightgrey no-repeat;
//   margin: 0 0 25px;
//   padding: 15px;
//   box-sizing: border-box;
//   font-size: 15px;
// }

// .button-submit {
//   height: 30px;
//   width: 90px;
//   font-weight: bold;
//   color: lightgrey;
//   border-radius: 5px;
//   font-family: "Ubuntu Light", sans-serif;
//   text-align: center;
//   align-items: center;
//   outline: 0;
//   background: transparent;
//   border: 1px solid transparent;
//   margin: auto;
//   padding: 0;
//   font-size: 15px;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
//   cursor: pointer;
// }
// .button-submit:hover {
//   position: center;
//   cursor: pointer;
//   color: white;
//   border: 2px solid lightgrey;
// }
// .button-submit:focus {
//   border-width: 2px !important;
//   cursor: pointer;
//   color: lightgrey;
//   transform: translateY(1px);
// }
// .button-submit-loading {
//   height: 30px;
//   width: 90px;
//   font-weight: bold;
//   color: lightgrey;
//   border-radius: 5px;
//   font-family: "Ubuntu Light", sans-serif;
//   text-align: center;
//   align-items: center;
//   outline: 0;
//   background: transparent;
//   border: 1px solid transparent;
//   margin: auto;
//   padding: 0;
//   font-size: 15px;
//   -webkit-transition: all 0.4s ease;
//   transition: all 0.4s ease;
// }
// .form .message {
//   margin: 15px 0 0;
//   color: #b3b3b3;
//   font-size: 12px;
// }
// .form .message a {
//   color: #4caf50;
//   text-decoration: none;
// }
// .access-denied {
//   margin-top: 10px;
//   font-size: 15px;
//   font-family: "Ubuntu Light", sans-serif;
//   color: red;
// }
// .container {
//   position: relative;
//   z-index: 1;
//   max-width: 300px;
//   margin: 0 auto;
// }
// .container:before,
// .container:after {
//   content: "";
//   display: block;
//   clear: both;
// }
// .container .info {
//   margin: 50px auto;
//   text-align: center;
// }
// .container .info h1 {
//   margin: 0 0 15px;
//   padding: 0;
//   font-size: 36px;
//   font-weight: 300;
//   color: #1a1a1a;
// }
// .container .info span {
//   color: #4d4d4d;
//   font-size: 12px;
// }
// .container .info span a {
//   color: #000000;
//   text-decoration: none;
// }
// .container .info span .fa {
//   color: #ef3b3a;
// }
// body {
//   font-family: "Roboto", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
