// #sidebar {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 260px;
//   display: block;
//   // z-index: 1;
//   color: #fff;
//   font-weight: 200;
//   background-size: cover;
//   background-position: center center;
//   overflow-y: auto;
//   overflow-x: hidden;
//   transition: all 0.3s ease-in;
//   z-index: 2;
//   background: linear-gradient(to bottom, #5a5a5a, #1e1e1e);
//   height: calc(100% - 50px);


//   .sidebar-wrapper {
//     position: relative;
//     margin-top: 60px;
//     width: 260px;
//     z-index: 4;
//   }

//   .sidebar-background {
//     position: absolute;
//     z-index: 1;
//     height: 100%;
//     width: 100%;
//     display: block;
//     top: 0;
//     left: 0;
//     // background-color:#333;
//     opacity: 0.8;
//   }

//   .logo {
//     background: linear-gradient(to bottom, #656565, #565656);
//     padding: 10px 30px 17px;
//     width: 100%;

//     // border-bottom: 1px solid rgba(255, 255, 255, 0.9);
//     position: relative;
//     z-index: -1;

//     #sidebar-text-wrapper {
//       position: absolute;
//       left: 27%;
//       width: 500px;
//     }

//     #sidebar-header-logo.slideIn {
//       transform: translateX(0);
//       transition: all 0.4s ease-in;
//     }

//     #sidebar-header-logo.slideOut {
//       transform: translateX(-10px);
//       transition: all 0.3s ease-in;
//     }

//     #sidebar-header-text.slideIn {
//       position: absolute;
//       margin-top: 10px;
//       margin-left: 5px;
//       transition: all 0.8s ease-in;
//     }

//     #sidebar-header-text.slideOut {
//       position: absolute;
//       margin-top: 10px;
//       margin-left: 5px;
//       opacity: 0;
//       transition: all 0.2s ease-in;
//     }

//     p {
//       float: left;
//       font-size: 20px;
//       margin: 10px 10px;
//       color: $white-color;
//       line-height: 20px;
//       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     }

//     a.logo-mini {
//       float: left;
//       text-align: center;
//       width: 30px;
//       margin-right: 15px;

//       img {
//         width: 40px;
//         margin-left: -3px;
//         display: block;
//         margin-top: 2px;
//       }
//     }

//     a.logo-normal {
//       display: block;
//     }

//     .logo-img {
//       width: 34px;
//       display: inline-block;
//       height: 34px;
//       margin-left: -2px;
//       margin-top: -2px;
//       margin-right: 10px;
//       border-radius: 30px;
//       text-align: center;
//     }
//   }

//   .logo-tim {
//     border-radius: 50%;
//     border: 1px solid #333;
//     display: block;
//     height: 61px;
//     width: 61px;
//     float: left;
//     overflow: hidden;

//     img {
//       width: 60px;
//       height: 60px;
//     }
//   }

//   .nav {
//     margin-top: 20px;
//     li {
//       > a,
//       button {
//         color: rgba(255, 255, 255, 0.9);
//         margin: 5px 15px;
//         opacity: 0.86;
//         border-radius: 4px;
//         background-color: inherit;
//       }
//       a:active {
//         transition: .1s linear !important;
//       }
//       &:hover > a,
//       &.open > a,
//       &.open > a:focus,
//       &.open > a:hover,
//       button:hover {
//         color: white;
//         opacity: 1;
//         transition: 0ms;
//       }

//       &.active > a {
//         color: #51bcda;
//         opacity: 1;
//       }

//       > button:hover .caret {
//         border-bottom-color: $white-color;
//         border-top-color: $white-color;
//       }

//       button {
//         border: none;
//         position: relative;
//         display: block;
//         padding: 10px 15px;
//         width: 88%;
//         text-align: left;
//       }
//     }

//     p {
//       opacity: 1;
//       margin: 0;
//       line-height: 30px;
//       font-family: Roboto;
//       font-size: 12px;
//       font-weight: 600;
//       text-transform: uppercase;
//     }

//     #sidebar-text-wrapper {
//       position: absolute;
//       left: 27%;
//       width: 500px;
//     }

//     #sidebar-collapse-text-wrapper {
//       position: absolute;
//       left: 30%;
//       width: 500px;
//     }

//     #sidebar-text.slideIn {
//       transition: opacity 0.8s ease-in, color 0ms;
//     }

//     #sidebar-text.slideOut {
//       opacity: 0;
//       transition: opacity 0.2s ease-in, color 0ms;
//     }

//     #sidebar-icon.slideIn {
//       transform: translateX(0px);
//       transition: transform 0.4s ease-in, color 0ms;
//     }

//     #sidebar-icon.slideOut {
//       transform: translateX(-10px);
//       transition: transform 0.3s ease-in, color 0ms;
//     }

//     #sidebar-text-icon.slideIn {
//       transform: translateX(0px) translateY(2px);
//       transition: all 0.4s ease-in, color 0ms;
//     }

//     #sidebar-text-icon.slideOut {
//       width: 20px;
//       transform: translateX(-15px) translateY(2px);
//       transition: all 0.4s ease-in, color 0ms;
//     }

//     #sidebar-active.slideIn {
//       width: 88%;
//       transition: all 0.2s ease-in;
//     }

//     #sidebar-active.slideOut {
//       width: 16% !important;
//       transition: all 0.3s ease-in;
//     }

//     #sidebar-text-icon-active.slideIn {
//       height: 45px !important;
//       width: 88% !important;
//       transition: all 0.4s ease-in;
//     }

//     #sidebar-text-icon-active.slideOut {
//       width: 16% !important;
//       height: 45px !important;
//       transition: all 0.4s ease-in;
//     }

//     #sidebar-logout.slideIn {
//       transform: translateX(0px);
//       transition: all 0.4s ease-in;
//     }

//     #sidebar-logout.slideOut {
//       transform: translateX(-88px);
//       transition: all 0.3s ease-in;
//     }

//     #sidebar-caret.slideIn {
//       opacity: 1;
//       transition: all 0.2s ease-in;
//     }

//     #sidebar-caret.slideOut {
//       opacity: 0;
//       transition: all 0.2s ease-in;
//     }

//     .caret {
//       top: 24px;
//       position: absolute;
//       right: 15px;
//       transition: .2s all;
//     }
//     button[aria-expanded="true"] .caret {
//       transform: rotate(180deg);
//     }

//     i {
//       font-size: 28px;
//       float: left;
//       margin-right: 15px;
//       line-height: 30px;
//       width: 30px;
//       text-align: center;
//     }

//     .sub {
//       padding-left: 25px;
//     }

//     .sub i {
//       font-size: 25px;
//     }
//     .sub p {
//       font-size: 12px;
//       font-weight: 1;
//       line-height: 25px;
//       text-transform: none;
//     }    
//   }
// }

#sidebar::-webkit-scrollbar-track
{
  padding-left: 50px !important; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb
{
  background-color: #838383;
}


#sidebar.slideOut {
  width: 75px;
  transition: all 0.3s ease-in;
}



.sidebar,
body > .navbar-collapse {
  .logo {
    padding: 10px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      color: $white-color;
      font-weight: $font-weight-normal;
      line-height: 30px;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &:after,
 
  
  &:after {
    @include icon-gradient($black-color-top, $black-color-bottom);
    z-index: 3;
    opacity: 1;
  }

  &[data-image]:after,
  &.has-image:after {
    opacity: 0.77;
  }

  &[data-color="blue"]:after {
    @include icon-gradient($new-dark-blue, $blue-color-bottom);
  }
  &[data-color="azure"]:after {
    @include icon-gradient($new-blue, $azure-color-bottom);
  }
  &[data-color="green"]:after {
    @include icon-gradient($new-green, $green-color-bottom);
  }
  &[data-color="orange"]:after {
    @include icon-gradient($new-orange, $orange-color-bottom);
  }
  &[data-color="red"]:after {
    @include icon-gradient($new-red, $red-color-bottom);
  }
  &[data-color="purple"]:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
  }
}

// #sidebar-hide-button-div {
//   position: fixed;
//   height: 50px;
//   width: 260px;
//   text-align: left;
//   font-weight: 100;
//   color: #959595;
//   bottom: 0px;
//   background: linear-gradient(to bottom, #1e1e1e, #0a0a0a);
//   border-top: 1px solid #151515;
//   z-index: 3;
//   cursor: pointer;
//   transition: all .3s ease-in;

//   &:hover {    
//     color: rgba(255, 255, 255, 0.9);
//   }

//   span {
//     position: absolute;
//     width: 200px;
//     font: 15px Roboto, sans-serif;
//     font-weight: 100;
//     bottom: 15px;
//     left: 50px;
//   }

  
//   span[id="sidebar-hide-text"].slideOut {
//     transform: translateX(-40px) !important;
//     opacity: 0;
//     transition: opacity .2s ease-in, transform .3s ease-in;
//   }

//   span[id="sidebar-hide-text"].slideIn {
//     transform: translateX(0px);
//     opacity: 1;
//     transition: opacity .4s ease-in, transform .3s ease-in;
//   }
// }

// #sidebar-hide-button {
//   position: relative;
//   font-size: 18px;
//   padding-left: 20px;
//   padding-top: 15px;
//   height: 100%;
// }

// #sidebar-hide-button.slideOut {
//   transform: translateX(10px);
//   transition: transform .3s ease-in;
// }

// #sidebar-hide-button.slideIn {
//   transform: translateX(0px);
//   transition: transform .3s ease-in;
// }


// #sidebar-hide-button-div.slideOut {
//   width: 75px !important;
//   transition: width .3s ease-in;
// }

// #sidebar-hide-button-div.slideIn {
//   width: 260px !important;
//   transition: width .3s ease-in;
// }



// #main-panel {
//   background: rgba(203, 203, 210, 0.15);
//   position: relative;
//   float: right;
//   width: $sidebar-width;
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   transition: all 0.3s ease-in;


//   > .content {
//     padding: 30px 15px;
//     //min-height: calc(100% - 123px);
//     background-color: rgb(243, 243, 243);
//     flex: 1;
//   }

//   > .footer {
//     border-top: 1px solid #e7e7e7;
//   }

//   .navbar {
//     margin-bottom: 0;
//   }
// }

// #main-panel.slideIn {
//   width: calc(100% - 260px);
//   transition: all 0.3s ease-in;
// }

// #main-panel.slideOut {
//   width: calc(100% - 75px);
//   transition: all 0.3s ease-in;
// }


// .sidebar,
// .main-panel {
//   -webkit-transition-property: top, bottom;
//   transition-property: top, bottom;
//   -webkit-transition-duration: 0.2s, 0.2s;
//   transition-duration: 0.2s, 0.2s;
//   -webkit-transition-timing-function: linear, linear;
//   transition-timing-function: linear, linear;
//   -webkit-overflow-scrolling: touch;
// }
