/* #header {
  background: #31c5ff;
  border: none;
}
#logout-button {
  color: white !important;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  transition: .3s all;
}
#logout-button:hover {
  color: red !important;
  border-color: red;
}

.content {
  background: linear-gradient(to bottom, #31c5ff, #aee8ff);
  z-index: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  // z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
  z-index: 2;
  background: linear-gradient(to bottom, #5a5a5a, #1e1e1e);
  height: calc(100% - 50px);


  .sidebar-wrapper {
    position: relative;
    margin-top: 60px;
    width: 260px;
    z-index: 4;
  }

  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    // background-color:#333;
    opacity: 0.8;
  }

  .logo {
    background: linear-gradient(to bottom, #656565, #565656);
    padding: 10px 30px 17px;
    width: 100%;

    // border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: -1;

    #sidebar-text-wrapper {
      position: absolute;
      left: 27%;
      width: 500px;
    }

    #sidebar-header-logo.slideIn {
      transform: translateX(0);
      transition: all 0.4s ease-in;
    }

    #sidebar-header-logo.slideOut {
      transform: translateX(-10px);
      transition: all 0.3s ease-in;
    }

    #sidebar-header-text.slideIn {
      position: absolute;
      margin-top: 10px;
      margin-left: 5px;
      transition: all 0.8s ease-in;
    }

    #sidebar-header-text.slideOut {
      position: absolute;
      margin-top: 10px;
      margin-left: 5px;
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    a.logo-mini {
      float: left;
      text-align: center;
      width: 30px;
      margin-right: 15px;

      img {
        width: 40px;
        margin-left: -3px;
        display: block;
        margin-top: 2px;
      }
    }

    a.logo-normal {
      display: block;
    }

    .logo-img {
      width: 34px;
      display: inline-block;
      height: 34px;
      margin-left: -2px;
      margin-top: -2px;
      margin-right: 10px;
      border-radius: 30px;
      text-align: center;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav {
    margin-top: 20px;
    li {
      > a,
      button {
        color: rgba(255, 255, 255, 0.9);
        margin: 5px 15px;
        opacity: 0.86;
        border-radius: 4px;
        background-color: inherit;
      }
      a:active {
        transition: .1s linear !important;
      }
      &:hover > a,
      &.open > a,
      &.open > a:focus,
      &.open > a:hover,
      button:hover {
        color: white;
        opacity: 1;
        transition: 0ms;
      }

      &.active > a {
        color: #51bcda;
        opacity: 1;
      }

      > button:hover .caret {
        border-bottom-color: $white-color;
        border-top-color: $white-color;
      }

      button {
        border: none;
        position: relative;
        display: block;
        padding: 10px 15px;
        width: 88%;
        text-align: left;
      }
    }

    p {
      opacity: 1;
      margin: 0;
      line-height: 30px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    #sidebar-text-wrapper {
      position: absolute;
      left: 27%;
      width: 500px;
    }

    #sidebar-collapse-text-wrapper {
      position: absolute;
      left: 30%;
      width: 500px;
    }

    #sidebar-text.slideIn {
      transition: opacity 0.8s ease-in, color 0ms;
    }

    #sidebar-text.slideOut {
      opacity: 0;
      transition: opacity 0.2s ease-in, color 0ms;
    }

    #sidebar-icon.slideIn {
      transform: translateX(0px);
      transition: transform 0.4s ease-in, color 0ms;
    }

    #sidebar-icon.slideOut {
      transform: translateX(-10px);
      transition: transform 0.3s ease-in, color 0ms;
    }

    #sidebar-text-icon.slideIn {
      transform: translateX(0px) translateY(2px);
      transition: all 0.4s ease-in, color 0ms;
    }

    #sidebar-text-icon.slideOut {
      width: 20px;
      transform: translateX(-15px) translateY(2px);
      transition: all 0.4s ease-in, color 0ms;
    }

    #sidebar-active.slideIn {
      width: 88%;
      transition: all 0.2s ease-in;
    }

    #sidebar-active.slideOut {
      width: 16% !important;
      transition: all 0.3s ease-in;
    }

    #sidebar-text-icon-active.slideIn {
      height: 45px !important;
      width: 88% !important;
      transition: all 0.4s ease-in;
    }

    #sidebar-text-icon-active.slideOut {
      width: 16% !important;
      height: 45px !important;
      transition: all 0.4s ease-in;
    }

    #sidebar-logout.slideIn {
      transform: translateX(0px);
      transition: all 0.4s ease-in;
    }

    #sidebar-logout.slideOut {
      transform: translateX(-88px);
      transition: all 0.3s ease-in;
    }

    #sidebar-caret.slideIn {
      opacity: 1;
      transition: all 0.2s ease-in;
    }

    #sidebar-caret.slideOut {
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    .caret {
      top: 24px;
      position: absolute;
      right: 15px;
      transition: .2s all;
    }
    button[aria-expanded="true"] .caret {
      transform: rotate(180deg);
    }

    i {
      font-size: 28px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
    }

    .sub {
      padding-left: 25px;
    }

    .sub i {
      font-size: 25px;
    }
    .sub p {
      font-size: 12px;
      font-weight: 1;
      line-height: 25px;
      text-transform: none;
    }    
  }
}

#footer {
  background: #aee8ff;
} */